[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
bingmaps = "*"
google-search-results = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}

[dev-packages]

[scripts]
start = "python scraper.py"
